/SpitefulGerbilsApp/nbproject/private/
/SpitefulGerbilsApp/src/spitefulgerbilsapp/HeightWeight
/SpitefulGerbilsApp/build/
/SpitefulGerbilsApp/src/User Accounts/build/
/SpitefulGerbilsApp/src/User Accounts/nbproject/private/